// couleurs

$color-bg : #1f1f38;
$color-bg-varialnt : #2c2c6c;
$color-primary : #4db5ff;
$color-primary-variant : #4db5ff66;
$color-white : #ffffff;
$color-light : #ffffff99;

//transition

$transition: all 400ms ease;

//largeurs

$container-width-ld : 70%;
$container-width-md : 77%;
$container-width-sd : 88%;